.mini-slide {
  position: relative;
  width: 128px;
  height: 72px;
  border: 2px solid #c0c0c0;
  margin: 15px auto;
}

.mini-slide-counter {
  font-weight: 600;
  margin-left: 35px;
  float: left;
}